.orangeKnight {
    -fx-background-color: orange;
    -fx-text-fill: black;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-font-family: 'Copperplate Gothic Light';
    -fx-font-weight: bold;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1);
}

.purpleVampire {
    -fx-background-color: purple;
    -fx-text-fill: black;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-font-family: 'Copperplate Gothic Light';
    -fx-font-weight: bold;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1);
}

.yellowPriest {
    -fx-background-color: yellow;
    -fx-text-fill: black;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-font-family: 'Copperplate Gothic Light';
    -fx-font-weight: bold;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1);
}

.pinkReaper {
    -fx-background-color: pink;
    -fx-text-fill: black;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-font-family: 'Copperplate Gothic Light';
    -fx-font-weight: bold;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 3, 0.0 , 0 , 1);
}

.button:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(145, 92, 182, .4), 5,0,0,1);
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.button:selected {
    -fx-effect: dropshadow(three-pass-box, rgba(145, 92, 182, .4), 5,0,0,1);
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.return {
    -fx-background-color: darkred;
    -fx-text-fill: white;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-font-family: 'Copperplate Gothic Light';
}

.advance {
    -fx-background-color: darkgreen;
    -fx-text-fill: white;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-font-family: 'Copperplate Gothic Light';
}